
        body {
            background-image: url("bg.avif");
            background-size: cover;
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            padding: 30px;
            color: white;
        }
        
        .main-div { 
            justify-content: center;
            display: flex;
            align-items: center;
            width: 100%;

        }
        
        .schedule-container {
            border: 2px dotted white;
            width: 90%;
            
            padding: 20px;
            background-color: black;
            border-radius: 8px;
        }

        
        .schedule-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 60px;
        }

        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }

        table {
            height: 250px;
        }
